/*************HEADER*************/
.header-area 
{
  width: 100%;
  z-index: 9;
}

.header-area .main-header-area 
{
  background: #fff;
}

.header-menu
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.logo img 
{
  width: 10em;
}

.navbar-brand
{
  color:rgb(61, 47, 47);
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
}

.nav-link
{
  position: relative;
  color:rgb(61, 47, 47);
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
}

.nav-link:visited
{
  text-decoration: none;
}

.nav-link:hover
{
  color:rgb(61, 47, 47);
}

.nav-link:before 
{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:rgb(61, 47, 47);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before 
{
  color: white;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.book_btn
{
  min-width: 12em;
  background: #009DFF;
  height: 4em;
  font-size: 0.8rem;;
  border: 1px solid transparent;
  color: #fff; 
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.book_btn:hover
{
  color: #009DFF;
  background-color:white;
  border-color:#009DFF;
  transition: all 0.3s ease-in-out;
} 

/*************ACCUEIL*************/
#infos
{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%,rgba(230, 255, 255, 0.5) 100%), url("../images/ide.png");
  background-size: cover;
  min-height: 83vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#infos .information
{
  color: white;
  max-width: 50%;
  padding-top: 10%;
  padding-left: 10%;
  text-shadow: 0px 0px 20px red, 0 0 1em red, 0 0 1em red;
}

#infos p
{
  font-size: 1.3rem;
}

#infos .open-button
{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #111;
  text-decoration: none;
  text-transform: uppercase;
  color: #111;
  font-size: 20px;
  font-weight: 600;
}

#infos .open-button:before
{
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background: #fff;
  transition: 0.5s ease-in-out;
  transform: scaleY(1);
}

#infos .open-button:hover:before
{
  transform: scaleY(0);
}

#infos .open-button:after
{
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background: #fff;
  transition: 0.5s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

#infos .open-button:hover:after
{
  transform: scaleX(0);
}

#infos .open-button .contactUs
{
  position: relative;
  z-index: 3;
}

#infos .open-button .contactUs a
{
  text-decoration: none;
  color: black;
  text-shadow: none;
}


/*************FOOTER*************/

.footer-area
{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#footer-left
{
  width: 50%;
  line-height: 0;
}

iframe 
{
  width: 100%;
}

#footer-right
{
  width: 50%;
  background-image: url("../images/infirmierefooter.jpg");
  background-repeat: no-repeat;
  max-width: 100%; 
  height: auto;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#coordonnees
{
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 25px 25px 50px rgba(9, 148, 255, 0.25),
  -10px -10px 30px rgba(9, 148, 255, 0.1),
  inset -5px -5px 15px rgba(9, 148, 255, 0.5);
  padding: 35px 35px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

#coordonnees a
{
  text-decoration: none;
}

.icon
{
  padding-right: 20px;
  display: table-cell;
  vertical-align: top;
}

.icon em
{
  display: inline-block;
}

.addresscontent
{
  display: table-cell;
}

/*************Connexion*************/

#connexion
{
  background-image: url("../images/ide.png");
  background-repeat: no-repeat;
  max-width: 100%; 
  min-height: 90vh;
  height: auto;
  background-size: cover;
  background-position: center;
  position: relative;
}

#connexion .container 
{
  text-align: center;
  align-items: center;
  vertical-align: middle;
  padding-top: 5%;
}

#connexion .container #MemberTitle
{
  color: red;
  text-shadow: 1px 1px 2px snow, 0 0 1em red, 0 0 0.4em #ea1313;
}

#connexion .container .membre
{
  font-weight: bold;
  color: black;
  padding-top: 2%;
}

#connexion .container .membre a
{
  color: black;
}

#connexion .container .membre .connexionSpan
{
  color: white;
}
.membre form 
{
  margin-top: 1em;
  border: 1px solid white;
  background: #4c7eab61;
  width: 24em;
  height: 13em;
  margin-left: auto;
  margin-right: auto;
}

/*************inscription*************/

#inscription
{
  background-image: url("../images/ide.png");
  background-repeat: no-repeat;
  max-width: 100%; 
  min-height: 90vh;
  height: auto;
  background-size: cover;
  background-position: center;
  position: relative;
}

#inscription .container
{
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

#inscription .container #MemberTitle
{
  color: red;
}

#inscription .container legend
{
  font-weight: bold;
}

#inscription .container .formulaire
{
  font-weight: bold;
  color: black;
}

.formulaire input
{
  width: 100%;
  padding: 5px;
  border: none;
  background: #f1f1f1;
  z-index: 11;
}

.formulaire span
{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.4em black;
}

.center
{
  margin-left: auto; 
  margin-right: auto;
}

/*************infirmiers*************/
#infirmiers
{
  background-image: url("../images/ide.png");
  background-repeat: no-repeat;
  max-width: 100%; 
  min-height: 90vh;
  height: auto;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 3%;
}

#infirmiers .container
{
  max-width: initial;
}

#nosinfirmiers
{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.4em black;
}

#nosinfirmiers h1
{
  text-align: center;
  text-decoration: underline;
}

#nosinfirmiers .nomInfirmier
{
  text-decoration: none;
  font-weight: bold;
  list-style-type: none;
  font-size:1.3em ;
}

#nosinfirmiers .row 
{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

#photoaurel img
{
  margin-top: 3%;
  margin-left: 5%;
  max-width: 607px;
  border-radius: 20em;
}


#photocoline img
{
  margin-top: 3%;
  margin-left: 5%;
  max-width: 607px;
  border-radius: 20em;
}


#photomarion img
{
  margin-left: 5%;
  max-width: 607px;
  border-radius: 20em;
}

/*************SOINS*************/
#soins
{
  background-image: url("../images/ideback2.jpg");
  background-repeat: no-repeat;
  min-height: 83vh;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*#soins .presentation
{
  min-height: 100vh;
}
*/
#soins .presentation h1
{
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 7px 4px 20px black;
  padding-top: 10px;

}

#soins .presentation .container
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
  flex-direction: row;
}

#soins .presentation .container .box
{
  position: relative;
  width: 350px;
  height: 400px;
  color: fff;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s;
}

#soins .presentation .container .box:hover
{
  transform: translateY(-20px);
}

#soins .presentation .container .box:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,#3295dd,#5e5e93);
}

#soins .presentation .container .box:after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,#3295dd,#5e5e93);
  filter: blur(30px);
}

#soins .presentation .container .box:nth-child(odd)::before,
#soins .presentation .container .box:nth-child(odd)::after
{
  background: linear-gradient(45deg,#3c4270,#595dbd);
}

#soins .presentation .container .box span
{
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

#soins .presentation .container .box span:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);

}
#soins .presentation .container .box .content
{
  position: relative;
  padding: 20px 40px;
  z-index: 3;
}

#soins .presentation .container .box .content h2
{
  font-size: 1.7em;
  color: #fff;
  margin-bottom: 10px;

}

#soins .presentation .container .box .content p
{
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}




/************* CONTACT US *************/

#contactForm
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-image: url(../images/mail.jpg);
    
}

#contactForm h1
{
  font-size: 59px;
  color: white;
  margin: 3% 0 1% 0;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.4em black;
}
#contactForm h2
{
  font-size: 30px;
  color: white;
  margin: 1% 0;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.4em black;
}



#contactForm .form-container
{
  max-width: 1320px;
  padding: 5%;
  margin: 0 auto;
  background-color: #1b1c1eeb;
}

#contactForm .form-container form
{
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  padding: 20px 0;
}

#contactForm input,textarea,label
{
  display: block;
  margin: 0 auto;
  width: 100%;
  color: #828282;
}

#contactForm input,textarea
{
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #828282;
  color: white;
  font-size: 18px;
  padding: 10px;
}
#contactForm input:focus,textarea:focus
{
  outline: 1px solid #828282;
}


#contactForm .contactBtn
{
  background-color:#545557;
  padding: 15px 0;
  color: white;
  font-size: 18px;
  botder-bottom:0;
  margin-top: 30px;
  cursor: pointer;
  transition: all .3s ease;
}

#contactForm .contactBtn:hover
{
  background: #fff;
  color: #1b1c1e;
  font-weight: bold;
}


/************* BACKEND *************/


#backendBody 
{
  overflow-x: hidden; 
  background-image: url("../images/nursebg.jpg");
  background-size: cover;
  min-height: 83vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

/*Page de connexion memberLog*/

#membrebackend
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  text-align: center;
  justify-content: center;
}

#membrebackend #titre
{
  margin-top: 20px;
}

#membrebackend form tr td label
{
  text-align:right ;
}

.menuMembreBoutton
{
    margin: 2% 0;
}

.menuMembreBoutton a:hover
{
  text-decoration: none;
  color: white;
}

.menuMembreBoutton a
{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #4479BA;
  color: #FFF;
  padding: 8px 12px;
  text-decoration: none;
  color: white;
}

.deconnexion 
{
  background: #ff0040;
  padding: 12px 26px;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #fff; 
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.deconnexion:hover 
{
  color: #ff0040;
  background-color:white;
  border-color:#ff0040;
  transition: all 0.3s ease-in-out;
} 

/*Nos patients */

#listePatient
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;
}

#listePatient #titre
{
  margin: 2%;
  color: white;
}

#listePatient .container
{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
  grid-template-rows: auto;
  grid-gap: 50px 70px;
  justify-items: stretch;
  justify-content: space-around;
}

#listePatient .container .box
{
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;

}

#listePatient .container .box:before
{
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(2deg) skewY(4deg);
  background: linear-gradient(315deg,#1f2322,#128ab5,#fff);
  filter: blur(50px);
}

#listePatient .container .box:after
{
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: linear-gradient(315deg,#1f2322,#128ab5,#fff);
  filter: blur(40px);
}

#listePatient .container .content
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #72b9d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#listePatient .container .box .content h3 
{
  top: -30px;
  position: relative;
  z-index: 11;
  color: #fff;
}

#listePatient .container .box .content em
{
  margin: 0;
  padding: 0;
  color: #fff;
}

.btnPatient
{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #4479BA;
  color: #FFF;
  padding: 8px 12px;
  text-decoration: none;
}

/************* RESPONSIVE *************/


@media screen and (max-width: 1024px) 
{
  #infos
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #infos .information
  {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #111;
    margin: 20px 30px;
    transition: 0.5s;
    padding-top: 0;
    padding-left: 0;
    z-index: 3;
  }

  #infos .information:hover
  {
    transform: translateY(-20px);
  }

  #infos .information:before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg,#03a9f4,#0a58ca);
  }

  #infos .information:after
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg,#03a9f4,#0a58ca);
    filter: blur(30px);
  }

  #infos .information .contour
  {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }

  #infos .information .contour:before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  #infos .information .content
  {
    position: relative;
    z-index: 10;
    padding: 20px 40px;
    text-shadow: none;
  }

  #infos .information .content h1
  {
    font-size: xxx-large;
    margin-bottom: 35px;
  }

  #infos .information .content p
  {
    font-size: xx-large;
    margin-bottom: 20px;
    line-height: 1.4em;
  }  

  .nav-link,.navbar-brand
  {
    font-size: 1.2rem;
  }
  .footer-area
  {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }

  #footer-left,#footer-right
  {
    width: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  #footer-right #coordonnees
  {
    margin: 20px 20px;
    width: auto;
    max-width: fit-content;

  }
}
